[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
autopep8 = "*"
rope = "*"

[packages]
django = "*"
pillow = "*"
django-taggit = "*"

[requires]
python_version = "3.7"
